# Web Framework
streamlit

# Database
sqlalchemy
psycopg2
pandas

# Utils
python-dotenv

# NLP / IA
faker
spacy

# spaCy Portuguese model (GitHub - você já confirmou que funciona)
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0-py3-none-any.whl