# ==========================================
# 🌐 Web Framework & UI
# ==========================================
streamlit>=1.30

# ==========================================
# 🗄️ Database & Conectividade
# ==========================================
sqlalchemy>=2.0
psycopg2-binary>=2.9
pyodbc>=5.0
pymysql>=1.1
pandas>=2.0

# ==========================================
# ⚙️ Utils & Sistema
# ==========================================
python-dotenv>=1.0
psutil>=5.9.0

# ==========================================
# 🧠 NLP / IA / Motor de Anonimização
# ==========================================
faker>=24.0
spacy>=3.7
gliner>=0.2.0
presidio-analyzer>=2.2.35
torch>=2.0
transformers>=4.40

# Instrução de Instalação Pós-Requirements:
# Lembre-se de rodar: python -m spacy download pt_core_news_lg